@import "../../brand.scss";
@import "../../variables.scss";
.euromillions-number-option {
	position: relative;
	&__lucky-star {
		position: absolute;
		top: -2px;
		right: -2px;
		width: 15px;
		height: 13px;
		background-image: url("../shared/images/five_pointed_star_solid.svg");
		background-size: cover;
		background-position: center;
		z-index: 10;
		@media (min-width: $Tablet) {
			top: -3px;
			right: -2px;
			width: 18px;
			height: 17px;
		}
	}
	&__input {
		border: none;
		outline: none;
		background: white;
		color: black;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		text-align: center;
		font-weight: 600;
		font-size: 1.1em;
		text-decoration: underline;
		padding: 0;
		&--filled {
			background: radial-gradient(farthest-corner at 10px 10px, $EuromillionsYellow 10%, darken($EuromillionsYellow, 15%));
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		}
		&[disabled] {
			opacity: 1 !important;
		}
		@media (min-width: $iPhone8) {
			width: 40px;
			height: 40px;
			font-size: 1.2em;
		}
		@media (min-width: $Tablet) {
			width: 50px;
			height: 50px;
			font-size: 1.4em;
		}
	}
}