@import "../../brand.scss";
@import "../../variables.scss";

.lotto-simulation {
	cursor: pointer;
	padding: 5px 0;
	background: #DDDDDD;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	transition: 0.5s;
	height: 51px;
	margin: 5px 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 420px;
	@media (min-width: $Tablet) {
		height: 56px;
	}
	&--open {
		background: red;
		height: 310px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16);
		@media (min-width: $iPhone8) {
			height: 320px;
		}
		@media (min-width: $Tablet) {
			height: 330px;
		}
	}
	&--simulating {
		height: 436px;
		@media (min-width: $iPhone8) {
			height: 446px;
		}
		@media (min-width: $Tablet) {
			height: 454px;
		}
	}
	&--hidden {
		height: 0px;
		opacity: 0;
		padding: 0;
		margin: 0;
	}
	&__title {
		font-size: 1.6em;
		font-weight: 700;
		margin: 10px 0;
		text-transform: uppercase;
		transition: 0.5s;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		user-select: none;
		&--open {
			color: white;
			left: 0%;
			margin: 0;
			transform: translateX(9px);
		}
		&--hidden {
			transform: translateX(9px) translateY(-25px);
			opacity: 0;
		}
		@media (min-width: $Tablet) {
			font-size: 1.8em;
		}
	}
	&__simulation-options-container {
		position: relative;
		width: calc(100% - 20px);
		min-height: 19px;
		height: 0px;
		transition: 0.5s;
		opacity: 0;
		margin: 40px 0 5px;
		&--open {
			opacity: 1;
			margin: 30px 0 5px;
		}
		&--hidden {
			height: 0;
			opacity: 0;
			margin: 0;
			min-height: 0;
		}
		@media (min-width: $Tablet) {
			margin: 44px 0 5px;
			&--open {
				opacity: 1;
				margin: 34px 0 5px;
			}
			&--hidden {
				height: 0;
				opacity: 0;
				margin: 0;
				min-height: 0;
			}
		}
	}
	&__simulation-numbers-container {
		position: relative;
		width: calc(100% - 20px);
		min-height: 42px;
		transition: 0.5s;
		opacity: 0;
		&--open {
			opacity: 1;
		}
		@media (min-width: $iPhone8) {
			min-height: 52px;
		}
		@media (min-width: $Tablet) {
			min-height: 60px;
		}
	}
	&__main-container {
		position: relative;
		width: calc(100% - 20px);
		min-height: 210px;
		transition: 0.5s;
		opacity: 0;
		&--open {
			opacity: 1;
		}
		&--simulating {
			min-height: 390px;
		}
	}
	&__pre-simulation-container {
		width: 100%;
		transition: 0.5s;
		opacity: 1;
		position: absolute;
		top: 0;
		height: 100%;
		&--simulating {
			opacity: 0;
			pointer-events: none;
		}
	}
	&__during-simulation-container {
		width: 100%;
		transition: 0.5s;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		height: 100%;
		&--simulating {
			opacity: 1;
			pointer-events: all;
		}
	}
	&__sub-title-container {
		margin: 0;
		width: 100%;
		transition: 0.5s;
		display: flex;
		justify-content: flex-start;
	}
	&__sub-title {
		margin: 0 auto 0 0;
		font-weight: 700;
		color: white;
		user-select: none;
		@media (min-width: $Tablet) {
			font-size: 1.1em;
		}
	}
	&__lucky-dip-button {
		font-family: $MainFont;
		cursor: pointer;
		font-size: 0.8em;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 10px;
		border-radius: 10px;
		margin: 0 0 0 5px;
		font-weight: 700;
		color: red;
		background: rgba(255,255,255,0.75);
		outline: none;
		border: none;
		user-select: none;
		@media (min-width: $Tablet) {
			font-size: 0.9em;
		}
	}
	
	&__numbers-container {
		min-height: 42px;
		width: 100%;
		transition: 0.5s;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (min-width: $iPhone8) {
			min-height: 52px;
		}
		@media (min-width: $Tablet) {
			min-height: 60px;
		}
	}
	&__data-organisation-container {
		width: 100%;
		transition: 0.5s;
		display: flex;
		justify-content: space-between;
	}
	&__description-container {
		color: white;
		width: 50%;
	}
	&__description-container-title {
		font-weight: 700;
		margin: 0 0 5px;
		@media (min-width: $Tablet) {
			font-size: 1.2em;
		}
	}
	&__description-container-content {
		margin: 0 0 5px;
		font-size: 0.8em;
		line-height: 16px;
		@media (min-width: $Tablet) {
			font-size: 0.9em;
			line-height: 18px;
		}
	}
	&__winnings-container {
		color: white;
		width: 50%;
		text-align: right;
	}
	&__winnings-container-title {
		font-weight: 700;
		margin: 0 0 5px;
		@media (min-width: $Tablet) {
			font-size: 1.2em;
		}
	}
	&__winnings-container-content {
		margin: 0 0 5px;
		font-size: 0.8em;
		line-height: 16px;
		@media (min-width: $Tablet) {
			font-size: 0.9em;
			line-height: 18px;
		}
	}
	&__simulation-draws-container {
		width: 100%;
	}
	&__draws-main-container {
		background: white;
		margin-top: 5px;
	}
	&__draw-row {
		user-select: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 2px 5px;
		color: #666;
		height: 19px;
		font-size: 0.625em;
		&:nth-child(even) {
			background: #f4f4f4;	
		}
		@media (min-width: $iPhone8) {
			font-size: 0.7em;
		}
	}
	&__draw-id {
		margin: 0;
		width: 40px;
		&--title {
			color: #222
		}
		@media (min-width: $iPhone8) {
			width: 45px;
		}
	}
	&__draw-numbers {
		margin: 0;
		flex-grow: 1;
		color: #222
	}
	&__drawn-numbers-container {
		margin: 0;
		flex-grow: 1;
		display: flex;
	}
	&__drawn-number {
		margin: 0 5px 0 0;
		width: 12px;
		opacity: 0.5;
		&--match {
			color: #222;
			font-weight: 700;
			text-decoration: underline;
			opacity: 1 !important;
		}
		&--bonus {
			margin-left: 5px;
		}
		@media (min-width: $iPhone8) {
			width: 15px;
		}
	}
	&__draw-winnings {
		margin: 0;
		width: 60px;
		font-weight: 700;
		color: black;
		&--title {
			color: #222;
			font-weight: unset;
		}
		@media (min-width: $iPhone8) {
			width: 80px;
		}
	}
	&__simulation-information-container {
		margin-top: 10px;
	}
	&__simulation-information-row {
		display: flex;
		justify-content: space-between;
	}
	&__simulation-information-top-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(25% - 10px);
		max-width: 75px;
	}
	&__simulation-information-top-title {
		text-transform: uppercase;
		color: white;
		font-size: 0.6em;
		padding: 4px 8px;
		margin: 0 0 -10px;
		z-index: 1;
		&--draws {
			border-top-right-radius: 6px;
			background: black;
		}
		&--day {
			border-top-right-radius: 6px;
			background: #B40000;
		}
		&--month {
			border-top-left-radius: 6px;
			background: #B40000;
		}
		&--year {
			border-top-left-radius: 6px;
			background: #B40000;
		}
	}
	&__simulation-information-top-data-container {
		text-transform: uppercase;
		font-weight: 700;
		color: black;
		background: white;
		font-size: 1.1em;
		width: 100%;
		display: flex;
		align-items:center;
		justify-content: center;
		margin: 0;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16);
		&--draws {
			border-bottom-right-radius: 10px;
		}
		&--day {
			border-bottom-right-radius: 10px;
		}
		&--month {
			border-bottom-left-radius: 10px;
		}
		&--year {
			border-bottom-left-radius: 10px;
		}
	}
	&__simulation-information-top-data {
		margin: 9px 0 2px;
	}
	&__simulation-information-bottom-container {
		background: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 10px 0 0;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16);
		&--spent {
			width: 50%;
			border-bottom-right-radius: 100px;
			padding: 5px 0 2px 10px;
		}
		&--won {
			width: 50%;
			border-top-left-radius: 100px;
			text-align: right;
			padding: 5px 10px 2px 0;
		}
		&--balance {
			width: 100%;
			border-top-right-radius: 100px;
			border-bottom-left-radius: 100px;
			text-align: center;
			padding: 5px 0 2px 0;
		}
	}
	&__simulation-information-bottom-title {
		text-transform: uppercase;
		color: black;
		opacity: 0.5;
		font-size: 0.8em;
		margin: 0;
	}
	&__simulation-information-bottom-data {
		color: black;
		font-size: 1.1em;
		font-weight: 700;
		margin: -2px 0 0;
	}
	&__pause-simulation-button {
		padding: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #CB0000;
		color: white;
		opacity: 1;
		cursor: pointer;
		width: calc(100% + 10px);
		position: absolute;
		bottom: 42px;
		left: -10px;
		transition: 0.5s;
	}
	&__start-simulation-button {
		padding: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #CB0000;
		color: white;
		opacity: 0.4;
		width: calc(100% + 10px);
		position: absolute;
		bottom: 0px;
		left: -10px;
		transition: 0.5s;
		&--open {
			opacity: 1;
			cursor: pointer;
		}
	}
	&__end-simulation-button {
		padding: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #CB0000;
		color: white;
		opacity: 1;
		cursor: pointer;
		width: calc(100% + 10px);
		position: absolute;
		bottom: 0px;
		left: -10px;
		transition: 0.5s;
	}
	&__simulation-button-text {
		user-select: none;
		margin: 0;
		line-height: 12px;
		font-size: 0.8em;
		font-weight: 700;
		text-transform: uppercase;
	}
}